.loader {
  display: flex;
  justify-content: center;
  width: 100%;
  transform: scale(1.6);
}

.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #f8f8f8;
  color: #f8f8f8;
  box-shadow: 9999px 0 0 -5px #f8f8f8;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: 0.25s;
  z-index: 200000000;
}

.dot-pulse::before,
.dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #f8f8f8;
  color: #f8f8f8;
}

.dot-pulse::before {
  box-shadow: 9974px 0 0 -5px #f8f8f8;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10015px 0 0 -5px #f8f8f8;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9974px 0 0 -5px #f8f8f8;
  }
  30% {
    box-shadow: 9974px 0 0 2px #f8f8f8;
  }
  60%,
  100% {
    box-shadow: 9974px 0 0 -5px #f8f8f8;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #f8f8f8;
  }
  30% {
    box-shadow: 9999px 0 0 2px #f8f8f8;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px #f8f8f8;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10015px 0 0 -5px #f8f8f8;
  }
  30% {
    box-shadow: 10015px 0 0 2px #f8f8f8;
  }
  60%,
  100% {
    box-shadow: 10015px 0 0 -5px #f8f8f8;
  }
}
